body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "NotoSansDisplay", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(216, 216, 216));
}

header {
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 110px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

header nav {
    max-width: 1920px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

header nav img {
    width: 50px;
}

header nav input {
    height: 20px
}


main {
    align-self: center;
    display: flex;
    justify-content: center;
    max-width: 1920px;
}

article {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    gap: 30px;

}

figure {
    background-color: #e2e2e2;
    display: flex;
    margin: 0;
}

figure img {
    width: 250px;
}


footer {
    height: 110px;
    background-color: #1f1f1f;
}