body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "NotoSansDisplay", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(201, 201, 201), rgb(216, 216, 216));
}

header {
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 110px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

header nav {
    max-width: 1920px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

header nav img {
    width: 50px;
}

header nav input {
    height: 20px
}


main {
    align-self: center;
    display: flex;
    justify-content: center;
    max-width: 1920px;
}

article {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    gap: 30px;

}

figure {
    background-color: white;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    gap: 5px;
}

figure div {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: inherit;
}

figure img {
    width: 200px;
}

figure p {
    margin: 0;
    padding-left: 30px;
    color: #919191;
    font-weight: bold;
}

figure span {
    display: flex;
    gap: 5px;
}

figure span div {
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    background-color: unset;
}

h2 {
    font-size: 24px;
    margin: 0;
    padding-left: 30px;
}

h2::first-letter {
   text-transform: capitalize; 
}

footer {
    height: 110px;
    background-color: #1f1f1f;
}