body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "NotoSansDisplay", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(201, 201, 201), rgb(216, 216, 216));
}

header {
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 110px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

header nav {
    max-width: 1920px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

header nav img {
    width: 50px;
}

header nav input {
    height: 25px;
    border-width: 5px;
    margin-right: 5px;
    font-size: 16px;
}

header nav div {
    display: flex;
    align-items: center;
}

header nav span {
    display: flex;
    align-items: center;
}

.menu {
    display: none;
}

.search-error {
    background-color: rgb(227, 53, 13);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-right: 15px;
    transition: all 0.5s;
    display: none;
}

.search-button {
    background-color: #ff7b00;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.search-button img {
    width: 25px;
}

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 60px;
    max-width: 1920px;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    gap: 30px;

}

figure {
    background-color: white;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 20px;
    width: 225px;
    border-radius: 5px;
    gap: 5px;
    transition: all 0.2s;
}

figure div {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: inherit;
}

figure img {
    width: 200px;
}

figure p {
    margin: 0;
    padding-left: 5px;
    color: #919191;
    font-weight: bold;
}

figure span {
    display: flex;
    gap: 5px;
}

figure span div {
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    background-color: unset;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    margin: 0;
    padding-left: 5px;
}

h2::first-letter {
    text-transform: capitalize;
}

figure:hover {
    cursor: pointer;
    scale: 1.05;
}

.load-more {
    padding: 15px;
    background-color: #30a7d7;
    border: none;
    font-size: 24px;
    color: white;
    font-weight: bold;
    border-radius: 5px;

}

.load-more:hover {
    cursor: pointer;
    background-color: #217596;
}

.hidden {
    overflow: hidden;
}

.loadingspinner {
    border: none;
    font-size: 50px;
    background-color: unset;
}

.loadingspinner img {
    width: 200px;
}

.loadingspinner:focus-visible {
    outline: none;
}

.loadingspinner::backdrop {
    background-color: rgb(201, 201, 201);
}


footer {
    height: 110px;
    background-color: #1f1f1f;
}


@media (max-width: 1240px) {
    article {
        width: 95%;
    }
}

@media (max-width: 980px) {

    header {
        height: 160px;
        align-items: flex-end;
    }

    header nav {
        flex-direction: column;
    }

    .search-error {
        font-size: 16px;
        margin: 0;
    }

    header nav div {
        background-color: #313131;
        padding: 5px;
        border-radius: 15px;
        width: 100%;
        height: 45px;
        justify-content: center;
        gap: 5px;
    }
}

@media (max-width: 700px) {
    header {
        height: 110px;
        align-items: center;
    }

    header nav {
        flex-direction: row;
        width: 90%;
        gap: 15px;
    }

    header nav div {
        height: 100px;
        flex-direction: column;
    }

    .menu {
        display: unset;
        background: #1f1f1f;
        border: none;
        padding: 5px;
        border-radius: 5px;
        transition: all 0.3s;
    }

    .menu:hover {
        scale: 1.05;
        cursor: pointer;
    }

    .displaynone {
        display: none;
    }
}

@media (max-width: 480px) {
    header {
        height: 200px;
    }

    h1 {
        font-size: 30px;
        gap: 5px;
        margin: 0;
    }

    nav img {
        width: 40px;
    }

    header nav {
        flex-direction: column;
    }

}